<div>
    <table>
        <thead>
            <tr>
                <th *ngFor="let property of weaponProperties">{{property}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let weapon of weaponList">
                <td>{{weapon.name}}</td>
                <td>{{weapon.skill}}</td>
                <td>{{weapon.damage}}</td>
                <td>{{weapon.critical}}</td>
                <td>{{weapon.encumbrance}}</td>
                <td>{{weapon.hardPoints}}</td>
                <td>{{weapon.price}}</td>
                <td>{{weapon.rarity}}</td>
                <td>{{weapon.specialRules}}</td>
            </tr>
        </tbody>
    </table>
</div>